<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thư viện của tôi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/Library.css">
    <link rel="stylesheet" href="../css/header.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
        <a class="navbar-brand" href="/">
            <img src="../images/Book Haven (3).png" alt="Story Haven" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
            <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Thể loại</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/category?category=Tiên%20hiệp">Tiên hiệp</a></li>
                        <li><a class="dropdown-item" href="/category?category=Kiếm%20hiệp">Kiếm hiệp</a></li>
                        <li><a class="dropdown-item" href="/category?category=Ngôn%20tình">Ngôn tình</a></li>
                        <li><a class="dropdown-item" href="/category?category=Đô%20thị">Đô thị</a></li>
                        <li><a class="dropdown-item" href="/category?category=Trọng%20sinh">Trọng sinh</a></li>
                        <li><a class="dropdown-item" href="/category?category=Xuyên%20không">Xuyên không</a></li>
                        <li><a class="dropdown-item" href="/category?category=Dị%20giới">Dị giới</a></li>
                        <li><a class="dropdown-item" href="/category?category=Bách%20hợp">Bách hợp</a></li>
                        <li><a class="dropdown-item" href="/category?category=Cung%20đấu">Cung đấu</a></li>
                        <li><a class="dropdown-item" href="/category?category=Sủng%20ngọt">Sủng ngọt</a></li>
                        <li><a class="dropdown-item" href="/category?category=Hài%20hước">Hài hước</a></li>
                        <li><a class="dropdown-item" href="/category?category=Gia%20đấu">Gia đấu</a></li>
                        <li><a class="dropdown-item" href="/category?category=Khoa%20học%20viễn%20tưởng">Khoa học viễn tưởng</a></li>
                        <li><a class="dropdown-item" href="/category?category=Huyền%20huyễn">Huyền huyễn</a></li>
                        <li><a class="dropdown-item" href="/category?category=Cổ%20đại">Cổ đại</a></li>
                        <li><a class="dropdown-item" href="/category?category=Hiện%20đại">Hiện đại</a></li>
                        <li><a class="dropdown-item" href="/category?category=Linh%20dị">Linh dị</a></li>
                        <li><a class="dropdown-item" href="/category?category=Quân%20sự">Quân sự</a></li>
                        <li><a class="dropdown-item" href="/category?category=Lịch%20sử">Lịch sử</a></li>
                        <li><a class="dropdown-item" href="/category?category=Tâm%20lý">Tâm lý</a></li>
                        <li><a class="dropdown-item" href="/category?category=Phiêu%20lưu">Phiêu lưu</a></li>
                        <li><a class="dropdown-item" href="/category?category=Đam%20mỹ">Đam mỹ</a></li>
                        <li><a class="dropdown-item" href="/category?category=Kinh%20dị">Kinh dị</a></li>
                        <li><a class="dropdown-item" href="/category?category=Ngược%20luyến">Ngược luyến</a></li>
                    </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/my-story">Tác phẩm của tôi</a></li>
            <li class="nav-item"><a class="nav-link" href="/library">Thư viện</a></li>
            </ul>

            <form class="d-flex search-form">
            <input type="text" id="searchInput" class="form-control" placeholder="Tìm kiếm truyện..." />
            <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
            </form>

            <div class="nav-item dropdown ms-3">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                <img src="../images/schwi.png" alt="Avatar" class="rounded-circle" width="30" height="30">
                <span id="profileName"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="/account">Hồ sơ của tôi</a></li>
                <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
            </ul>
            </div>
        </div>
        </div>
    </nav>

    <div class="container related-stories">
        <h2>Thư viện</h2>
        <div class="row">
            <a href="Story_information.html" class="col-6 col-md-3 mb-3">
                <div class="card">
                    <img src="../images/de.jpg" class="card-img-top" alt="Related Story">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                    </div>
                </div>
            </a>

        </div>
    </div>


    <!-- Footer -->
    <footer class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <ul>
                        <img src="../images/Story Haven.png" width="130px" height="130px" alt="Story Haven">
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer-title">Dịch vụ</li>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Hệ thống nhà sách</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer-title">Hỗ trợ</li>
                        <li><a href="#">Chính sách đổi trả - hoàn tiền</a></li>
                        <li><a href="#">Phương thức vận chuyển</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul>
                        <li class="footer-title">Nhà sách bán lẻ</li>
                        <li>Giám đốc: Tào Thanh Hà | Mai Phương Anh</li>
                        <li>Địa chỉ: Đại học Phenikaa</li>
                        <li>Số điện thoại: </li>
                        <li>Email: </li>
                        <li>Facebook: </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../javascript/Library.js"></script>
    <script src="../javascript/Category.js"></script>
</body>

</html>